* {
  box-sizing: border-box;
}

header {
  background-color: blueviolet;
}

header .logo {
  margin: 0;
  padding: 20px 25px;
  font-weight: bold;
  color: rgb(245,245,245);
  font-size: 1.8em;
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: rgb(245,245,245);
}


body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: rgb(240,240,240);
}

#produc {
  background-color: white;
  float: left;
  padding: 25px;
  height: 500px;
  width: 1100px;
  margin: 50px;
}

#produc .container {
  display: flex;
}

img {
  height: 420px;
}

#produc .name {
  margin-left: 25px;
}

#produc .fabricante {
  font-size: 15px;
}

#produc p {
  font-size: 30px;
  font-weight: bold;
}

#produc .p2 {
  font-size: 18px;
  font-weight: bold;
}

#produc .caracte {
  font-size: 16px;
}

#precio {
  background-color: white;
  float: left;
  padding: 25px;
  height: 500px;
  width: 250px;
  margin: 50px;
  margin-left: 1px;
}

#precio .pre {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.rating {
  display: inline-block;
  font-size: 0; 
}

.rating label {
  color: gray;
  font-size: 30px;
  padding: 0 5px;
  cursor: pointer;
}

.rating input[type="radio"] {
  display: none;
}

.rating input[type="radio"]:checked + label {
  color: gold;
}


